$main-black-color: #000000;
$main-white-color: #ffffff;

$main-gray-color: #6b717e;
$main-gray-color--light: rgb($main-gray-color, 0.1);
$main-gray-color--light--accent: rgb($main-gray-color, 0.3);

$main-purple-color: #8789c0;
$main-mango-color: #FA824C;
